<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <base href="/">
    <title></title>

    <!-- build:css(.tmp) app/app.css -->
      <link rel="stylesheet" href="app/app.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="position: relative;top: -10px;" href="#"><img src="img/editorlogo.png"></a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse" style="height:800px">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" ui-sref="modules.list" data-toggle="dropdown">Files <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="modules.list.add">Add New Module</a></li>
              <li><a ui-sref="modules.list.load">Load New Module</a></li>
            </ul>
          </li>
          <li><a href="#">Help</a></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
          <li ng-if="!user" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Log in<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/auth/google/" >Google</a></li>
              <li><a href="/auth/facebook/"><img src="img/fb.png"/></a></li>
      	      <li><a href="/auth/dropbox/"><img src="img/db.png"/></a></li>
            </ul>
          </li>
          <li ng-if="user" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{ user.profile.displayName }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/logout">Log out</a></li>
            </ul>
          </li>
          <li><a href="//yirlv2.keltalis.com/" target="_blank">Yirl website</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <!-- CONTENT HERE -->
    <div ui-view></div>

    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <!-- build:js(client) app/vendor.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.min.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload-all.min.js"></script>
    <!-- endbuild -->

    <!-- build:js(.tmp) app/app.js -->
      <script src="app/combined-scripts.js"></script>
    <!-- endbuild -->
  </body>
</html>
