<div class="panel panel-default">
<div class="panel-heading">{{ content.title }}</div>
<div class="panel-body" ui-ace="{
  useWrapMode : true,
  showGutter: false,
  theme:'tomorrow',
	mode: '{{ type }}',
  firstLineNumber: 5,
  onLoad: aceLoaded
}" readonly='true' ng-model="content.data" ></div>
</div>
