<form role="form">
	<div class="form-group modal-body">
		<label for="id" class="form-label">Title</label>
		<input id="title" ng-model="module.title" class="form-control" />
	</div>
	<div class="modal-footer">
		<a ng-click="save()" class="btn btn-default">Save</a>
	</div>
</form>
