<form role="form">
	<div class="form-group modal-body">
		<label for="zip" class="form-label">Archive</label>
		<input id="zip" ng-file-select ng-model="files" class="form-control" type="file" />
	</div>
	<div class="modal-footer">
		<a ng-click="load()" class="btn btn-default">Load</a>
	</div>
</form>
