<form role="form">
	<div class="modal-body">
	<div class="form-group">
		<label for="name">Name</label>
		<input ng-model="content.title" id="name" class="form-control" />
	</div>
	<div class="form-group">
		<label for="type">Type [{{ content.type }}]</label>
		<div class="btn-group">
        <label class="btn btn-primary" ng-model="content.type" btn-radio="'content'">Content</label>
        <label class="btn btn-primary" ng-model="content.type" btn-radio="'script'">Script</label>
    </div>
	</div>
	</div>
	<div class="modal-footer">
	<div ng-click="add()" class="btn btn-default"><img src="../img/add.png"/></div>
	</div>
</form>