<form role="form">
	<div class="form-group btn-group">
		<button ng-click="update()" class="btn btn-success-t" type="submit"><img src="../img/save.png"/></button>
		<button ng-click="delete()" class="btn btn-danger-t"><img src="../img/delete.png"/></button>
	</div>
	<div class="form-group">
		<label for="name" class="control-label">Name</label>
		<input id="name" ng-model="content.title" class="form-control" />
	</div>
	<div class="form-group">
		<label for="type" class="control-label">Type</label>
		<select id="type" ng-model="content.type" ng-options="type as type for type in ['content', 'script']" class="form-control"></select>
	</div>
	<div class="form-group">
		<div ui-ace="{
			useWrapMode : true,
			showGutter: true,
			theme:'tomorrow',
			mode: '{{ type }}',
			firstLineNumber: 5,
			onLoad: aceLoaded
		}" ng-model="content.data" ></div>
	</div>
</form>