<div class="row">
	<accordion class="col-md-3">
		<accordion-group ng-repeat="m in modules" class="" is-open="m.isOpen">
			<accordion-heading>
				<a ui-sref="modules.list.detail.edit({moduleId:m._id})" class="btn pull-right btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
				<a ui-sref="modules.list.detail({moduleId:m._id})" class="btn btn-sm">
					{{ m.title }}
				</a>
			</accordion-heading>
			<ul class="nav nav-pills nav-stacked" style="margin-left:5px;">
				<li ng-repeat="c in m.contents" ui-sref-active="active">
					<div class="clearfix" class="btn-group">
						<a ui-sref="modules.list.detail.content({id:c._id, moduleId:m._id})" class="btn bt-xs">{{ c.title }}</a>
						<a ui-sref="modules.list.detail.edit.content({id:c._id, moduleId:m._id})" class="btn bt-xs pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
					</div>
				</li>
			</ul>
		</ccordion-group>
	</accordion>
	<div ui-view class="col-md-9"></div>
</div>
