<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			{{ module.title }} <!-- <a class="btn btn-primary" href="/api/modules/{{ module._id }}/download" target="_blank" >Download</a> -->
			<br />
			<br />
			<br />
			<span ng-show="creator !== 'undefined'">from {{ creator.profile.displayName }}</span> <span ng-show="editor !== 'undefined'">edited by {{ editor.profile.displayName }} ({{ module.updateDate | date:"medium" }})</span>
		</div>
	</div>
</div>