<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
      <p>{{ module.updateDate | date:"medium" }}</p>
			<form role="form">
				<input ng-model="module.title" class="form-control" type="text" />
				<div class="form-group" ng-if="isMine">
					<label>
						<input ng-model="module.isPrivate" type="checkbox" /> Is a private Module ?
					</label>
				</div>
				<div class="btn-group">
					<a ng-click="save()" class="btn btn-success-t"><img src="../img/save.png"/></a>
					<a ng-click="delete()" class="btn btn-danger-t"><img src="../img/delete.png"/></a>
					<a title="Add a new content or a new script" ng-click="add()" class="btn btn-primary-t"><img src="../img/add.png"/></a>
				</div>
			</form>
		</div>
	</div>
</div>